@{
    ViewData["Title"] = "List to users";
}

<br/>
<div class="text-center">
    <h1 class="display-4">Lista de usuarios</h1>
    <br/>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Correo</th>
                </tr>
            </thead>
            @{
                if (ViewBag.User!=null)
                {
                    foreach (var item in ViewBag.User)
                    {
                        <tr>
                        <td>@item.IdUser</td>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Mail</td>
                        </tr>
                    }
                }
            }
        </table>
    </div>
</div>

